Luma/
outputs/
# Ignore all files in the Luma directory
*.pyc
/__pycache__
# ignore all files with name starting with "metruyencv"
metruyencv*\
.html
.codex
data/secrets.json
PLAN/
TASK/
DOCS/
.crawler_profiles/
trash-prompt.txt